<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.0">

  <id>regimenpickup</id>
  <name>Regimen Pickup</name>
  <version>1.0</version>
  <package>org.openmrs.module.@MODULE_ID@</package>
  <author>Partners In Health</author>
  <description>
    Provides the ability to record regimen pickup encounters and observations, and to display these in a calendar view
  </description>

  <activator>@MODULE_PACKAGE@.ModuleActivator</activator>

  <require_version>1.6</require_version>

  <extension>
    <point>org.openmrs.patientDashboardTab</point>
    <class>@MODULE_PACKAGE@.web.extension.RegimenPickupExtension</class>
  </extension>

  <globalProperty>
    <property>regimenpickup.regimenPickupEncounterId</property>
    <defaultValue>11</defaultValue>
    <description>The encounterTypeId to use for Regimen Pickup Encounters</description>
  </globalProperty>
  
  <globalProperty>
    <property>regimenpickup.medsDispensedConceptId</property>
    <defaultValue>2876</defaultValue>
    <description>The conceptId to use for the question that asks what regimen was dispensed.  This should be a question with text datatype</description>
  </globalProperty>
  
  <globalProperty>
    <property>regimenpickup.medsDispensedAllowedAnswers</property>
    <defaultValue>1a(30):1a,1b(30):1b,1c,1d,1e,1f,2a,2b,2c,2d,2e,4a,4b,4c,4d,5a,5b,S1,S2,S3,S4,S5,S6,AZT,OTH:Other</defaultValue>
    <description>
    	Allowed text answers to the meds dispensed question.  This is a comma-delimited list.
    	If the display value is different than the answer value, then the format should be answerValue:displayValue in the list
    </description>
  </globalProperty>
  
  <globalProperty>
    <property>regimenpickup.minimumSupportedPickupDate</property>
    <defaultValue>2006-01-01</defaultValue>
    <description>
    	Optional property in yyyy-MM-dd format.  If specified, this is the minimum supported pickup date
    </description>
  </globalProperty>
 
   <globalProperty>
    <property>regimenpickup.supportedLocations</property>
    <defaultValue>Bobete,Lebakeng,Methalaneng,Nohana,Nkau,Manamaneng,Tlhanyaku</defaultValue>
    <description>
    	Comma-separated list of Location Names that are supported for regimen pickups
    </description>
  </globalProperty> 
	
   <globalProperty>
    <property>regimenpickup.displayLocationDescription</property>
    <defaultValue>true</defaultValue>
    <description>
    	If true, this will display the descriptions of supported locations, rather than the names
    </description>
  </globalProperty> 
    
  <globalProperty>
    <property>regimenpickup.defaultProviderId</property>
    <defaultValue>2211</defaultValue>
    <description>The default provider to use for each entered regimen pickup encounter</description>
  </globalProperty>
  
  <globalProperty>
    <property>regimenpickup.healthCenterPersonAttributeTypeId</property>
    <defaultValue>7</defaultValue>
    <description>If specified, this will support the default value of the pickup location for a patient</description>
  </globalProperty>
  
  <globalProperty>
    <property>regimenpickup.programStatesToCheck</property>
    <defaultValue>HIV PROGRAM:TREATMENT STATUS:ART|PMTCT PROGRAM</defaultValue>
    <description>
    	If specified, will display a warning if the patient is not in the specified program workflow states
    	The format is PROGRAM NAME:WORKFLOW NAME:VALID STATE NAME|VALID STATE NAME
    </description>
  </globalProperty>

  <dwr>
    <allow>
      <create creator="new" javascript="RegimenPickupDWRService">
        <param name="class" value="org.openmrs.module.regimenpickup.web.dwr.RegimenPickupDWRService"/>
        <include method="addPickup"/>
        <include method="voidPickup"/>
      </create>
    </allow>
    <signatures>
      <![CDATA[
        import org.openmrs.module.regimenpickup.web.dwr.RegimenPickupDWRService;
        RegimenPickupDWRService.addPickup(String regimen, String dateString, String locationName, Integer patientId);
        RegimenPickupDWRService.voidPickup(Integer obsId, Integer patientId);
      ]]>
    </signatures>
  </dwr>

  <messages>
    <lang>en</lang>
    <file>messages.properties</file>
  </messages>

</module>